
#wrapper {
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {
  height: 600px;
  background-color: #e9ebee;
  overflow-x: hidden;
}


#main::-webkit-scrollbar
{
  display: none;
}

#sidebar::-webkit-scrollbar
{
  display: none;
}

#header {
    background-color: #4267b2;
    color: white;
}

#header .white-text{
  color: white;
}

#header ul .glyphicon{
  font-size: 20px;
}


#footer .gray-text
{
  color: gray;
  padding-left: 3px;
}

.gray-text{
  color: gray;
}

.black-text
{
  color: black;
}

.list-heading
{
  padding: 20px 15px 0px 15px;
}

.nav-stacked .badge
{
  background: none;
  color: gray;
}

#main .post
{
  color: gray;
}

#main .span
{
  font-size: 5px;
}
#header .badge
{
  background: red;
  position: absolute;
  margin-top: -4px;
  margin-left: -7px;

}

#main .green
{
  color: green;

}

#header .white-text img{
  background-color: white;
}


#main .orange
{
  color: orange;

}

#main #your-name
{
  margin-left: 10px;
}

#header .glyphicon{

  position: relative;

}

#main .panel-title
{
  color: #4267b2;
}

.panel-body .glyphicon
{
  margin-left: 10px;
  margin-right: 4px;
}

#main
{
  overflow-x: hidden;
  overflow: auto;
}

#sidebar
{
  overflow: auto !important;
  overflow-x: hidden;
}

.nav-stacked .glyphicon
{
  color: #4267b2;
}
#header .margin
{
  margin-top: -2px;
  border-radius:10%;
  margin-right: -20px;
}

.give-color
{
  color: gray !important;
}


.input-group
{
  margin-top: 5px !important;
}

.post-time-date
{
  color: gray;

}

.video-height
{
  height: 300px !important;

}
